<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasbesarkotlin5.pointofsales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.EditStoreActivity" />
        <activity android:name=".View.StoreActivity" />
        <activity android:name=".View.AddStoreActivity" />
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.AchievementActivity" />
        <activity android:name=".View.ProductListActivity" />
        <activity android:name=".View.HistoryActivity" />
        <activity android:name=".View.CashierActivity" />
        <activity
            android:name=".View.StartActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.Potrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>